
.box-content,.box-note,.box-info,.box-warning,.box-hint,.box-download
{
	margin:15px 0;
	padding:13px;

	text-align:justify;
}
.box-content{
	padding:20px;
}
.box-info,.box-warning,.box-hint,.box-download{padding-left:40px}

.box-content,.box-note,.box-info,.box-warning,.box-hint,.box-download{
	border:1px solid #ccc;
	border-radius:3px;
	background:#fafafa;
	box-shadow:0 1px 2px rgba(0,0,0,0.08);
}
.box-content{
	background:#fff;
	border:1px solid #ccc;
}
.box-note,.box-info,.box-warning,.box-hint,.box-download
{
	background:#fafafa;
	border:1px solid #ccc;
}


.box-info
{
background:#ebf5fa url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAwMS8yMS8xMRTK2QYAAAAedEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzUuMasfSOsAAANmSURBVFiF7ZjPSxRhGMe/M/PONLG0rpaOHhraIFByEcRDGIQH6RR48Nyf0EEPQuHBQ6R02UMnu/YXCJ6iIAJFUIRYw1myFBN0k9Gd2azZnXfet0PTD7d239kfZYFfeGHZfd55Pjzv+7zzfVfinONflnzSACKdAjaqU8BGdQrYqOoGlCRJppTOMMY2GGM+AP7zYIz5jLENSumMJEn156nnoKaUjsmy/HArT8mc5SCz5+HDET0W0xEjSHXqGOluwaUEoYyxCUJI+o8CSpIk+76/anvoSy/uYy3nRZrXa+gYG2zHeR2vVFXt55yzpgOGcG9WdkuX0wv7OPIj5wAAxFQZY9fbMdClvVNV9UpUyEiA3yq3slvqu/8iVxNYuSaHDAx0aZErGWnzFgqFcdtDX3phv2JMslXD5JCBySEDyVatYlx6YR+2h75CoTAeJbewgpIkkSAIPt97liPV9tz0zS6kDB0AkMl5uPt0t2Jsr6HjwbBBFUU5yzmnFQMhqKAkSbLrujNbeVoVrlat5Txs5SlxXVd4BImWWNY0bXTOcoRJHy/bWHr/CZmch8fLtjB+znKgadqoiIEInkMIIRcze+LqbR6WUEsDZfY8ENJ2MWSouMwiQFlRFKX8EC7X/O3kL9/derJZdc6HIwpFURQIKihcYsHv32HSi5U7vJEcTTMLz99+bNajjun/dzNBEAQdMdFWrV0dMYIgCAJRnAiQFYvFnVSn3iSsH0p16igWizsAqr7uhIC2bc+PdLc0jyzUSHcLbNueR4OA1DTNKTMuB71G86rYa+gw43JgmuYUqpyBUQAZAM+yrOmxwXbE1Mrh5Wfh785GILRdg+2wLGsagAdBBSOZBQCJfD7/ct1Ve5pht3ri/noikbgBIC8yC1H9oA6g1XXdpdd5xWzEsF5NBNvxePwagEPOufAdGtmwAtABtB4cHDwrqee667H8ml+w2trahgEcAvCiGNaaLH8I2bK6unonlUpNbLtMiXJpMuNykMlkHvb39z8C4ESFAwBwziMPfG0qHcAFAMlsNjvrOM627/uUl8n3feo4znY2m50FkAzn6ADkWnLWde0MG0cPxxkAGn51RhRACUARX7vVEzXEb3PV+wdmuORyCPbt889i4aAAWC1XzaYA/i39/27mpHUK2Kj+ecAvS1LnltKaGBwAAAAASUVORK5CYII=) 0 0 no-repeat;border-color:#a1c0d0;color:#1d5e80
}

.box-warning
{
background:#fff0eb url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAwMS8yMS8xMRTK2QYAAAAedEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzUuMasfSOsAAAPESURBVFiF7ZhBaNtWGMf/33uysBtlgWVFMAgklZdkLKy7lXWFkeNgl9xKYL3stEsYY4FCGAuELQXfQiEnj4EPSzdwGT6M9tAeBoGOXJYtDjuk8WLIotgUOZYt2amkHWqlTizZUuxkg+YPDz/0vvfez9/T9733RI7j4P8s9l8DdNIFYLe6AOxWF4Dd6tUAJCJmWVbStu1/bNvWDg8Pfy6VSiMhx/BucBynq6Lr+rRlWYbTKlvX9emg4/ixUDdbHREJlmUZtb+3hfxSAkbuKQBAeuddDM3Mgg++YQqC0O84zvMgHvRiOfUSExGr1WqPGWNCbnH+CA4A9I115Ba/Buc8WqvVHhPRqec5dUdN06ZFUbyxt5JCvaC2tBu5p9hbSUEQhA9UVf3wXAGJSJAk6W59X0Uxk/a1K2bSeF4s0ODg4A9EJJwLIBEx0zTTnPOB/FICVrXia2tVK9hNLoNzLlcqlcXTLHXoDtlsVolEIh+XnqxC31g/eh4bvgJlIQFlIYHY8JWj56XfVlF6sopoNPp5NptVzhSQiNjo6OivjlGl3eTysTb55i1IE1chTVyFfPPWsbbd5DIcoyooivJdWC+GMtY07UvOuVzI3G8JDN7X51kHgHpBRSFzH6Io3tA0bfpMAPP5vNLf3/+Nsb0F9V6qpb2+r3rWXan3UjC2tyBJ0t0wARMIkIiYLMvfM8aEk0vrytje8qw3qxEwA7quJ4MudSAjN+c9e/TwWGA0q/Ln7571Zukb63j26CFisdgnQQOmI6Cb86yKDj/vAS8Sc31fRX1fPbarnFQjYCgejz8I4sW2Bs05b28l1TbnuZO3+xPAy9wYiURGyuXyF50A2x4WNjc33xobG/urmv2Dtr6a7TRWKCkLCcTenjg6TIQ+LBARi8fjDxhjLTnPS/xSH4Zvz2P49jz4pb6O9o2A6XiY8G1YW1uLRyKRkUIm3fadcjU0M4uBa9cxcO06hmY6e7v5MAHAN+14AhIRGx8fnwMAdaU15/VKxUwajDE6ODj41o/Fj5wRURxAx8BwlV9KAA3P5ZcSgfq4Y3PO328A2oEBbdsmABAvy57nPa/JcnfmA4G5Ei/LAIDGXJ4e9H0Hi8XiLwDw5qefhZo0jNyxTdPM+Rr5XGAEAK/v7Oz8aFmW7XEh6plM0zxIpVLvARBCXZqIKArgtbm5ufGpqamPeuw8AEC5XFYnJyd/AlACUHUcp+UdbAfI8MKTYqP0+pJvN0odgAnA9mLxBDxxiWYnfnspFxIAPHeSru7F56FX49vMWeoCsFv9C+XRiBDm10+jAAAAAElFTkSuQmCC) 0 0 no-repeat;border-color:#edb1a2;color:#963e27
}

.box-hint
{
background:#fffae6 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAwMS8yMS8xMRTK2QYAAAAedEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzUuMasfSOsAAANqSURBVFiF7ZdBSBRhFMf/3zczuu2424IoS7uuhXaJEMJLEUnQKSSCoA6dvHXTu3RNPOvJS3TolBRIBw+pQbKdCsJgQzRBVsOgZGad3Z3dnXlfh50RC1e/mdWM8A/LXr73vd++97733jIhBP5l8ZMGOEyngM3qFLBZnQI2q6YAbdseIKJPRGQAIADC+xARGbVabca27YH9bBljUj5YmEZtmuaFWCz2nnOedMwV2KvTqH57B1Er1i/VdLScG0Ck9z7UsxfhOM6ipmk3hRC0F1DGd2DAYrH4UNf15wBYcWkC9ur0gecjvfeh9w2DiOzNzc3LXV1dX48NMJ/P96RSqRXOObM+jqGyPitl19p9G239oyAiW1GUmBDCkQWUrkHGGE8mk28456y4NCENBwCV9VkUlybAOY9UKpW3jDFpv0EeSYuiKOf9mgsqe3UajrkCVVWv53K5niMHNAxjmHPOwsD5slenwTlnmUzmsaxvqUOMMVXTtLsAUP32LjSgb8sY65X1LRtBTkQMwG4rCSPf1rvrSAFPTNKAlmV9AAAeTYZ35tm6rmtI20ieo7m5uacAoHVcCU7mybfN5/MzsjZSjdrrW22WZX0+w3YyxvxQ4Fpkmo7ErWcQrR2uqqqdAIy9o6+RpCLoXVTNZrMjiHQKvW8kEBwA6H0j4NEktra2XgKoor5cHCrpUedFMb6xsTGVSqUehBl1lUplJxKJ9AIwAFSPdNR5USyl0+nhUqn0o61/FK3dt6XhiEjMz88PAbAAOLJ+g7YZB8DO5OTkHSISet/woQb+mVwu92RwcHAB9chJpRcIsW75qTZNMxuPxy/9fHXjwPPt9xZhmuaXRCJxE/WHUfXuOdptxpf36+21tbVJWZtCobAAwPLhgijURs0YUwHEXdf9wTk/cHcnIqEoit9WdmtPNoJqYDoA3sJZLZfLeV3XM43S3H5vEeVyOY8AbeVPNTOLne3t7dfA/uOPR5MgIpHNZkcQ8GHsVagUA7tpTti2vcYLuZj1cQxU2tqFi10bw3cr+iKdTj8CUPgTUDbFEEKE+qAe/ej4+PjVQqGw7rouCU+1Ws1ZXl6eAtAJoKWBvZSf0BH0osABRAHEvG+/ZKoAiqg35X3Te2x/OxtAtuD3B0ceJDWqvb8GeNz6fzbqk9IpYLP65wF/AUDeE1+hf5cKAAAAAElFTkSuQmCC) 0 0 no-repeat;border-color:#e2c487;color:#6a4f16
}

.box-download
{
background:#faffe6 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAwMS8yMS8xMRTK2QYAAAAedEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzUuMasfSOsAAAEvSURBVFiF7ddRSgMxEMbx/7crUsS3XsVTCJ5W8BS9im9SamEdH0yltNk2ySR1kXzQh212mh+TwuzKzFhyhr8GXEsHetOB3nSgN0VASQNgOZ9Qk527kiJgBHjdPCfd/PL0dqj5yt2o9Ih1o5p/+h+8ZTrQmw70pgO9iU4SSYOZTXNFJa8JZvZ5aV3SaGZnk0axzSSNwMrMPiB9pOUmjEAkPQK7WFPmjtiASdL6+Ica4dbAFPY8SxQYWr0Hti2QJ7gtsI8d7yywJTIHdxHYApmLuwqsiSzBJQFrIEtxyUAP0oPLApYgvbhsYA6yBq4ImIKshYOZUZdc/PMqeQ88mNn7yZobB86nmVgna+LA2cEj0KGTq/DVjgo4qASEX+QYLqcaOKgIbJXFP1F3oDeLB34DZ+nmuO9erMoAAAAASUVORK5CYII=) 0 0 no-repeat;border-color:#c2d685;color:#51621c
}

