.Nuevoo	{ background-image:url(../img/Iconfinder/user-group-new.png); }
.icon-32-editar { background-image:url(../img/Iconfinder/editar.png); }
.Guardar { background-image:url(../img/Iconfinder/save-32.png); }
.Cancelar { background-image:url(../img/Iconfinder/cancel.png); }
.Ayuda { background-image:url(../img/Iconfinder/help.png); }
.icon-32-inicio { background-image:url(../img/Iconfinder/inicio.png); }
.icon-32-guardar_editar { background-image:url(../img/Iconfinder/guardar_editar.png); }
.icon-32-importe { background-image:url(../img/Iconfinder/importe.png); background-repeat:no-repeat; }
.icon-32-venta { background-image:url(../img/Iconfinder/venta.png); }
.icon-32-regresar { background-image: url(../img/Iconfinder/regresar.png); }
.icon-32-buscar_p{ background-image:url(../img/icon/buscar_p.png); }
.pdf{ background-image:url(../img/Iconfinder/pdf.png); }
.Imprimir{ background-image:url(../img/Iconfinder/print-add2.png); }
.NuevoOtros{ background-image:url(../img/Iconfinder/document-new.png); }
.GenerarVenta{ background-image:url(../img/Iconfinder/Generate-tables.png); }
.Importe{ background-image:url(../img/Iconfinder/importe.png); }