.paginate {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12;
}

a.paginate {
	border: 1px solid #CCC;
	padding: 2px 6px 2px 6px;
	text-decoration: none;
	color:  #000;
	background-color:#FFF;
}


a.paginate:hover {
	background-color: #0B55C4 ;
	color: #FFF;
	text-decoration: none;
}

a.current {
	border: 1px solid #999;
	font: bold 12 Arial,Helvetica,sans-serif;
	padding: 2px 6px 2px 6px;
	cursor: default;
	background: #999;/*Fondo de la pagina activa*/
	color: #FFF;
	text-decoration: none;
	font-weight:bold;
	
}

span.inactive {
	border: 1px solid #999;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12;
	padding: 2px 6px 2px 6px;
	color: #999;
	cursor: default;
}
