
.button_p{
background-color: #F0F1F2;


-moz-border-radius:2px;
-webkit-border-radius:2px;
border-radius:2px;
color:#fff;
cursor:pointer;
display:inline-block;
font-family:arial,sans-serif;
font-size:13px;font-weight:bold;
line-height:1.54;
padding:4px 12px;
text-align:center;
border:1px;

-webkit-box-shadow: 0.5 1px 1px rgba(0, 0, 0, 0.4); 
-moz-box-shadow: 0.5 1px 1px rgba(0, 0, 0, 0.4); 
box-shadow: 0.5 1px 1px rgba(0, 0, 0, 0.4); 




}


.button_p:hover,button_p:focus{
	background-color: #E5E5E5;



}


.button_p#boton_buscar_producto{
	background-image: url(../img/icon/buscar_detalle.png) ;
	background-position:center center;
	background-repeat:no-repeat;

	width:20px;
	height:20px;
vertical-align: middle;
	

}


.button_p#boton_buscar{
	background-image: url(../img/icon/buscar_p.png) ;
	background-position:center center;
	background-repeat:no-repeat;
	width:46px;
}
.button_p#boton_buscar_d{
	background-image: url(../img/icon/buscar_detalle.png) ;
	background-position:center center;
	background-repeat:no-repeat;
	width:46px;
}
.button_p#boton_agregar{
	background-image: url(../img/icon/agregar_p.png) ;
	background-position:center center;
	background-repeat:no-repeat;
	width:46px;
}

/*------------------------------------------------------------------*/
/*------------------------------------BOX-------------------------*/
/*------------------------------------------------------------------*/
.box{

padding:10px 10px 10px 10px;
border:1px solid #d2d3d4;
border-bottom-color:#afb0b1;
border-radius:6px;
background:#fff;
box-shadow:0 2px 2px -2px rgba(0,0,0,0.2)
}

.box_1{

width: 320px;
background-image: url(../img/icon/fondo_png.png);
background-repeat:repeat;
padding:10px 10px 10px 10px;
border:1px solid #d2d3d4;
border-bottom-color:#afb0b1;
border-radius:6px;
box-shadow:0 2px 2px -2px rgba(0,0,0,0.2)
}

.box_1_1{

padding:10px 10px 10px 10px;
border:1px solid #d2d3d4;
border-bottom-color:#afb0b1;

background-color:#FC3;
box-shadow:0 2px 2px -2px rgba(0,0,0,0.2);

  border-top: 1px solid #ddd;
  -webkit-border-radius: 6px 6px 6px 6px;
     -moz-border-radius: 6px 6px 6px 6px;
          border-radius: 6px 6px 6px 6px;


}

.txt_box{
 padding:4px 0px 4px 0px;
}

.txt_box_bottom{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;

}

